{% extends 'base.html.twig' %}
{% import 'tree/macros.html.twig' as macros %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/tree_move_leaf.js"></script>
{% endblock %}

{% block body %}

<div class="container">

    <br>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ macros.breadcrumb(categories) }}
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('tree-show', {id: categories.id}) }}" id="{{ categories.id }}" onclick="moveElements({{ categories.id }})">{{ categories.name }}</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                {% for category in categories.children %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{{ path('tree-show', {'id': category.id}) }}">{{ category.name }}</a>
                        <span class="badge badge-primary badge-pill">{{ category.children.count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-9">
            <h1>{{ categories.name }}</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda aut cum cupiditate, dignissimos ducimus, enim eos facere facilis illo, impedit iusto laboriosam pariatur perferendis possimus praesentium qui quos ratione!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda aut cum cupiditate, dignissimos ducimus, enim eos facere facilis illo, impedit iusto laboriosam pariatur perferendis possimus praesentium qui quos ratione!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda aut cum cupiditate, dignissimos ducimus, enim eos facere facilis illo, impedit iusto laboriosam pariatur perferendis possimus praesentium qui quos ratione!</p>

        </div>
    </div>


</div>

{% endblock %}