{% extends 'base.html.twig' %}
{% import 'tree/macros.html.twig' as macros %}

{% block title %}Hello!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/tree_move_leaf.js"></script>
    <script src="/js/tree_delete_leaf.js"></script>
    <script src="/js/tree_delete_branch.js"></script>
{% endblock %}


{% block body %}
<div class="container">

    <br>

    <div class="row">

        <div class="col">
            <h1><a href="{{ path('tree-show-depth', {'id': tree.id}) }}" id="{{ tree.id }}" onclick="moveElements({{ tree.id }});deleteCategory({{ tree.id }});deleteCategoryAll({{ tree.id }});">{{ tree.name }}</a></h1>
            <ul>
                {{ macros.category_tree(tree) }}
            </ul>

            <br>

            <button class="btn btn-dark" onclick="activateMove()" id="button_move">Przenieś kategorię do innej</button>
            <button class="btn btn-dark" onclick="activateDeleteCategory()" id="button_delete">Usuń kategorię</button>
            <button class="btn btn-dark" onclick="activateDeleteCategoryAll()" id="button_delete_all">Usuń gałąź</button>

        </div>

        <div class="col">

            <h1>{{ categories.name }}</h1>
            <br>

            <ul class="list-group">
                {% for category in categories.children %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('tree-show-depth', {'id': category.id}) }}">{{ category.name }}</a>

                            {% if not loop.first %}
                                <a href="{{ path('tree-set-depth-up', {id: category.id}) }}"><i class="material-icons">arrow_upward</i></a>
                            {% endif %}
                            {% if not loop.last %}
                                <a href="{{ path('tree-set-depth-down', {id: category.id}) }}"><i class="material-icons">arrow_downward</i></a>
                            {% endif %}

                        <span class="badge badge-primary badge-pill">{{ category.children.count }}</span>
                    </li>
                {% endfor %}
            </ul>

            <br>

            <form action="{{ path('tree-add', {"id": tree.id}) }}" method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="name">Dodaj nową kategorię</label>
                    <input id="name" name="name" type="text" class="form-control" required="required"></input>
                </div>
                <div class="form-group mb-2">
                    <button class="btn btn-success" type="submit">Dodaj kategorię
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </form>

            <br>

            <form action="{{ path('tree-edit', {"id": tree.id}) }}" method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="name">Zmień nazwę kategorii</label>
                    <input id="new_name" name="new_name" type="text" class="form-control" value="{{ tree.name }}" required="required"></input>
                </div>
                <div class="form-group mb-2">
                    <button class="btn btn-success" type="submit">Zmień nazwę
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </form>
        </div>

        {#<a href="{{ path('tree-set-depth-up', {"id": categories.id}) }}" class="btn btn-warning">Do góry</a>#}
        {#<a href="{{ path('tree-set-depth-down', {"id": categories.id}) }}" class="btn btn-danger">Na dół</a>#}

    </div>

</div>
{% endblock %}
