{% extends 'base.html.twig' %}
{% import 'tree/macros.html.twig' as macros %}

{% block title %}Hello!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/tree_move_leaf.js"></script>
{% endblock %}

{% block body %}
<div class="container">

    <h1><a href="{{ path('tree-show', {'id': tree.id}) }}" id="{{ tree.id }}" onclick="moveElements({{ tree.id }})">{{ tree.name }}</a></h1>
    <ul>
        {{ macros.category_tree(tree) }}
    </ul>

    <br>

    <form action="{{ path('tree-add', {"id": tree.id}) }}" method="post" class="form-inline">
        <div class="form-group mb-2">
            <label for="name">Nowa kategoria</label>
            <input id="name" name="name" type="text" class="form-control" required="required"></input>
        </div>
        <div class="form-group mb-2">
            <button class="btn btn-success" type="submit">Dodaj kategorię
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>

    <form action="{{ path('tree-edit', {"id": tree.id}) }}" method="post" class="form-inline">
        <div class="form-group mb-2">
            <label for="name">Zmień nazwę</label>
            <input id="new_name" name="new_name" type="text" class="form-control" value="{{ tree.name }}" required="required"></input>
        </div>
        <div class="form-group mb-2">
            <button class="btn btn-success" type="submit">Zmień nazwę
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>

    <button class="btn btn-dark" onclick="activateMove()" id="button_activate">Przenieś</button>

    <a href="{{ path('tree') }}" class="btn btn-primary">Wszystkie kategorie</a>

    <a href="{{ path('tree-delete-leaf', {"id": tree.id}) }}" class="btn btn-warning">Usuń</a>
    <a href="{{ path('tree-delete-branch', {"id": tree.id}) }}" class="btn btn-danger">Usuń gałąź</a>

    <a href="{{ path('tree-show-depth', {'id': tree.id}) }}" class="btn btn-warning">Przenieś</a>

</div>
{% endblock %}
